 Arquivo .gitignore

# Dependências
node_modules/

# Arquivos de ambiente
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema de arquivos específico do sistema operacional
.DS_Store
Thumbs.db

# Arquivos específicos do ambiente de desenvolvimento
.idea/
.vscode/
.vercel
